:root {
   
    --primary-color:hsl(233, 47%, 7%);
    --secondary-color:hsl(244, 38%, 16%);
    --third-color:hsl(277, 64%, 61%);
    --text-color:hsl(0, 0%, 100%);
    --text-color2:hsla(0, 0%, 100%, 0.75);
    --text-color3:hsla(0, 0%, 100%, 0.6);
}