@import 'reset';
@import 'fonts';
@import 'style';
body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2vw;
}
.container{
    padding: 10vw;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}
.card{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    // min-height: 50vh;
    // min-width: 80vw;
    background-color: var(--secondary-color);
    color:var(--text-color);
    &-text{
        
        padding: 30px;
      
        flex-direction: column;
        
        justify-content: space-between;
        margin: auto 5vw;
        span{
            color: var(--third-color);
        }
        p{
            color:var(--text-color2);
        }
        .data{
            margin-top: 30%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .d{
                padding: 5px;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                
                .dsub{
                    color:var(--text-color3);
                }
            }
        }
    }
    &-image{
        background-color: var(--third-color);
        img{ 
            max-height: 50vh;
            max-width: 40vw;
            min-height: 100%;
            min-width: 100%;
            mix-blend-mode: multiply;
            opacity:0.8;
        }
    }
}

@media only screen and (max-device-width: 700px)  {
    .container{
        padding: 10vw;
        display: grid;
        place-items: center;
        height: auto;
        min-height: 100vh;
        width: 100vw;
        background-color: var(--primary-color);
    }
    .card{
        // visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--secondary-color);
        color:var(--text-color);
        &-text{
            text-align: center;
            padding: 20px;
            flex-direction: column;
            justify-content: space-between;
            margin: auto 5vw;
            font-size: 3vw;
            span{
                color: var(--third-color);
            }
            p{
                color:var(--text-color2);
            }
            .data{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .d{
                    
                    display: flex;
                    flex-direction: column;
                    
                    .dsub{
                        color:var(--text-color3);
                    }
                }
            }
        }
        &-image{
            background-color: var(--third-color);
           
            img{
                mix-blend-mode: multiply;
                opacity:0.8;
                max-width: 100%;
            }
        }
    }
}